<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Is linked as though we were starting from /public because of our static middleware, looking in that folder -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>All the books!</h1>
    <h3>Add a book</h3>
    <form action="" id="newBook">
        <input type="text" placeholder="title" id = "bookId">
        <input type="text" placeholder="author" id = "bookTitle">
        <input type="text" placeholder="id" id = "bookAuthor">
        <button  type='submit'>Submit</button>
    </form>
    <ul id="allBooks">
    </ul>
    <script src="/js/script.js"></script>
</body>
</html>